:root {
    --background: #D8CDB5;
    --shadows: #CAB181;
    --object: #77898B;
    --objectT: #77898b59;
    --interactive: #852614;
    --focus: #C85F31;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: var(--background);
    margin: 0px;
}
nav{
    background-color: var(--objectT);
}
h1.titulo {
    text-align: center;
    color: var(--interactive);
    margin: 0px;
}
.objetos-flex-container{
    display: flex;
    margin: 20px;
}
.imagen-flex{
    border: black solid 4px;
    box-shadow: #77898B 10px;
    flex: 1;
}
.imagen-flex img{
    width: 100%;
    height: auto;
}

.imagen-flex p{
    margin: 0px;
    text-align: center;
    border: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
