:root {
    --background: #D8CDB5;
    --shadows: #CAB181;
    --object: #77898B;
    --objectT: #77898b59;
    --interactive: #852614;
    --focus: #C85F31;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: var(--background);
    margin: 0px;
}

.nav-flex-container{
    background-color: var(--objectT);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

nav a {
    flex: 1;
    text-align: center;
    text-shadow: #852614;
    border: var(--shadows) solid 2px;
    background-color: var(--background);
    color: var(--interactive);
    margin: 5px;
    padding: 20px;
    
}
.logo-flex{
    border: 0px;
    flex: 8 1;
}
.logo-flex img{
    width: 100%;
    height: auto;
}

.objetos-flex-container{
    display: flex;
    margin: 20px;
}
.imagen-flex{
    border: black solid 4px;
    box-shadow: #77898B 10px;
    flex: 1;
}
.imagen-flex img{
    width: 100%;
    height: auto;
}

.imagen-flex p{
    margin: 0px;
    text-align: center;
    border: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.popup-container {
    width: 100%;
    height: 100vh;
    background: var(--object);
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    padding: 10px 60px;
    background: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;
}

.popup {
    width: 50%;
    background: var(--background);
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding-bottom: 30px;
    color: var(--focus);
    visibility: hidden;
    transition: transform 0.4s;
    border: black 2px solid;
}

.open-popup{
    visibility: visible; 
    transform: translate(-50%,-50%) scale(1);  
}

.popup img {
    width: 100%;
    height: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.popup h2 {
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup button{
    width: 25%;
    margin-top: 50px;
    padding: 10px 0;
    background: var(--object);
    color: var(--background);
    border: 0;
    outline: 0;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}